<div class="bg-image" style="
background-image: url('assets/img/banniere.jpg');
height: 150px;
">


</div>

<p><button mat-button (click)="toggleSidenav()">sidenav.toggle()</button></p>


<mat-sidenav-container class="sidenav-container myFont-title" *ngIf="opened">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">

  </mat-sidenav>
  <br>
  <mat-sidenav-content>
    <mat-drawer-container class="drawer-container">
      <mat-drawer #drawer [mode]="mode.value" mode="side">
        <p class="myFont-title">Menu principal</p>
        <mat-form-field appearance="fill">
          <mat-label>Sidenav mode</mat-label>
          <mat-select #mode value="side">
            <mat-option value="side">Side</mat-option>
            <mat-option value="over">Over</mat-option>
            <mat-option value="push">Push</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-drawer>
      <mat-drawer-content>




      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
-->

















<!--
<p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
  
  <p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p>
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
  
      <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  -->