<div class="" >
  <mat-drawer-container class="drawer-container general-background foo" hasBackdrop="true">
    <mat-drawer class="sidenav" #drawer mode="over">
      <div class="container pt-3 myFont-title">
        
        <h1 class="myFont-head">Menu principal</h1>
        <div class="container">
          <button mat-raised-button (clic)='authService.goRechercheProd()' class="btn btn-block">Rechercher des producteurs</button>
        </div>
        <div class="container">
          <button mat-raised-button  class="btn btn-block">Rechercher des produits</button>
        </div>
        <div class="container">
          <button mat-raised-button  class="btn btn-block">Modifier le profil</button>
        </div>
        <div class="container">
          <button mat-raised-button  class="btn btn-block">Messagerie</button>
        </div>
        <div class="container">
          <button mat-raised-button  class="btn btn-block">Nous contacter</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)='authService.deconnexion()'  class="btn btn-block">Deconnexion</button>
        </div>

  
                        <!--
                            <mat-form-field appearance="fill">
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
          </mat-form-field>
        </mat-select>
  -->
        <!-- AJOUTER LE CONTENU DE LA SIDEBAR ICI, EXEMPLE DE MENU DEROULANT AU DESSUS-->
  
      
      </div>
  
      
    </mat-drawer>
    <mat-drawer-content>

          
      <!---->
  
    </mat-drawer-content>
  </mat-drawer-container>
  
  </div>