<div class="container-fluid bg-light rounded"
    style="background-image: url('assets/img/background accueil2.jpg'); height: 100%">
    <div class="h4 font-weight-bold text-center py-3">
        <p class="mt-120" style="color: white">
            <font size="7">Mes legumes</font>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div
                        class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center pale-orange">
                        <img src="https://www.plantes-et-sante.fr/images/istock-912404972.jpg_720_1000_2" alt="">
                    </div>
                    <div class="d-flex flex-column"> <b>Légumes racines, tubercules et tiges</b> <a routerLink="index">
                            <p class="text-muted"></p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan"> <img
                            src="https://www.votrepanier.fr/upload-produits/choux-bruxelle.jpeg" alt=""> </div>
                    <div class="d-flex flex-column"> <b>Choux</b> <a href="#">
                            <p class="text-muted"></p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="https://cdn.pratico-pratiques.com/app/uploads/sites/4/2018/08/30152548/8-courge-a-decouvrir.jpeg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Courges</b> <a href="#">
                            <p class="text-muted"></p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple"> <img
                            src="https://image.migros.ch/product-zoom/559484334aa176ce47ca17a1576573f80664afe6/champignons-bruns.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Champignons</b> <a href="#">
                            <p class="text-muted">32 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan"> <img
                            src="https://blog.actinutrition.fr/wp-content/uploads/2020/03/Herbes-aromatiques-1000.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Aromatiques fraîches</b> <a href="#">
                            <p class="text-muted">5 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="https://www.wizekat.eu/wp-content/uploads/2020/02/a60364ddf8_50159885_tomates-1.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Légumes fruits</b> <a href="#">
                            <p class="text-muted">6 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="https://s3-eu-west-1.amazonaws.com/cruiser-production/2013/02/cb882b6d-7f59-11e2-a7b7-782bcb76618d/fotolia-salade-verte-%C2%A9-ldens-fotolia-com.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Salades</b> <a href="#">
                            <p class="text-muted"></p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="http://www.unlockfood.ca/CMSTemplates/EROWebsite/Templates/images/en/articles/Swiss%20chard.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Légumes feuilles</b> <a href="#">
                            <p class="text-muted"></p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="http://s3-eu-west-1.amazonaws.com/images-ca-1-0-1-eu/tag_photos/extralarge/15723/legumes-secs-fotolia.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Haricots, pois, légumes secs, graines germées</b> <a href="#">
                            <p class="text-muted"></p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <a href="etal">
                <button type="button" class="btn btn-block btn-primary">
                    <font size="6" style="color: white">Retour</font>
                </button>
            </a>
        </div>
    </div>
</div>