<div class="general-background">
    <div class="container my-font-family">
        <div class="col-sm-12 mt-120" style="background-color: bisque;">
            <h2>Liste des comptes</h2>
            <button (click)='listeComptes()'>liste</button>
        </div>
        <div class="row" style="margin-left: 1px;">
            <div class="col-sm-1">
                <h3>Id</h3>
            </div>
            <div class="col-sm-2">
                <h3>Nom</h3>
            </div>
            <div class="col-sm-2">
                <h3>Prénom</h3>
            </div>
            <div class="col-sm-2">
                <h3>Login</h3>
            </div>
            <div class="col-sm-5">
                <h3>Adresse</h3>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>