<div class="container" style="width: 800px;">
    <h1 class="text-center container myFont-head"><b>Envoyer un message à {{destinataire}}</b> </h1>
    <br><br>
    <form #fMessage="ngForm" (ngSubmit)='envoyer(fMessage.value)'>
        <div style="margin: auto">
            <div class="form-group">
                <label class="label-perso">Message : </label>
                <textarea pInputTextArea ngModel="" (ngModelChange)="valueChange(fMessage.value)" maxlength="1000"
                    type="text" class="form-control" name="contenu" rows="8"></textarea>
                <p style="text-align:right">{{longueur}}/1000</p>
            </div>
            <button type="submit" class="btn btn-block myFont-title">Envoyer</button>
            <br>
            <p class="text-danger text-center"> {{ MsgErr }} </p>
        </div>
    </form>
</div>