
<div class="container" style="width: 800px;">
    <h1 class="text-center container myFont-head"><b>Ajouter un produit</b> </h1>
    <br><br>
    <form #fMessage="ngForm">
        <div style="margin: auto">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nom du produit :</label>
            <input type="text" class="form-control" ngModel required name="name" />
          </div>
          <mat-dialog-actions>
            <button mat-button mat-dialog-close type="submit" (click)='authService.supprimerProduit(fMessage.value)' class="btn btn-block myFont-title">Envoyer</button>
            <button mat-button mat-dialog-close type="button" class="btn btn-block myFont-title">Retour</button> </mat-dialog-actions>
        </div>
    </form>
  </div>