<div class="container" style="width: 1200px;">
    <h1 class="text-center container myFont-head"><b>Boîte de Réception</b> </h1>
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr class="myFont-text">
                <td>Auteur</td>
                <td>Contenu</td>
            </tr>
            <tr *ngFor="let message of liste">
                <td style="width:20%">{{message.emetteur.prenom + ' ' + message.emetteur.nom}}</td>
                <td style="width:80%">{{message.contenu}}</td>
                <td><button (click)='receptionReponse(message.emetteur)' class="btn btn-block myFont-title">Répondre</button></td>
                <td><a class="nav-item nav-link" (click)='deleteMessage(message.id)'> <i style="color: tomato" class="fa fa-trash fa-3x"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
