<div class="">
    <div class="container mt-100 my-font-family">
        <div class=" row my-pad-bot">
            <mat-card>
                    <mat-card-title  class="text-center">Votre Panier</mat-card-title>
                <hr>
                <mat-card-content class="container">
                    <div class="row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2" *ngIf='!visible'>
                            <label>Prix</label>
                        </div>
                        <hr>
                        <div *ngFor='let p of produit'>
                            <div class="row">
                                <div class="col-sm-2 mt-2">
                                    <img src="assets/img/camembert.jpg" alt="" width="100%">
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>{{p.nom}}</strong></h3>
                                    <p><i>{{p.description}}</i></p>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <mat-label>Quantité</mat-label>
                                            <p class="form-control">{{p.quantiteCons}}</p>
                                        </div>
                                        <button mat-icon-button color="secondary" (click)='deleteProduit(p)'>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <h2><strong>{{p.prix}} €</strong></h2>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3" *ngIf='!visible'>
                            <label><strong>TOTAL ({{quantiteTot}} articles)</strong></label>
                            <br>
                            <label><strong>{{prixTot}} €</strong></label>
                        </div>
                    </div>


                </mat-card-content>
                <mat-card-content>
                    <img *ngIf='visible' src="assets/img/Empty-Cart.jpg" alt="" width="100%">
                </mat-card-content>
                <mat-card-footer class="myfont">
                    <button *ngIf='visible' class="btn btn-secondary btn-block">Commander</button>
                    <button *ngIf='!visible' class="btn btn-block btn-secondary" (click)='Valider()'>Valider</button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
    <div class="col-sm-4">

    </div>

</div>