<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Mon espace producteur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-fill w-100 ">
                    <a class="nav-item nav-link" routerLink='etal'> <i style="color: #208836" class="fa fa-plus fa-2x">
                            Mon étal</i> </a>
                    <a class="nav-item nav-link" routerLink='menu-prod'> <i style="color: #208836"
                            routerLinkActive='route-active' class="fa fa-eye-slash fa-2x">
                            Mes messages</i> </a>
                    <a class="nav-item nav-link" routerLink='prod-profil'><i style="color: #208836"
                            routerLinkActive='route-active' class="fa fa-eye fa-2x">
                            Mon profil</i> </a>
                    <a class="nav-item nav-link" routerLink='prod-stats'><i style="color: #208836"
                            routerLinkActive='route-active' class="fa fa-eye fa-2x">
                            Mes statistiques</i> </a>
                    <a class="nav-item nav-link" routerLink='espace-contact'><i style="color: #208836"
                            routerLinkActive='route-active' class="fa fa-eye fa-2x">
                            Nous contacter</i> </a>
                    <a class="nav-item nav-link"> <i class="fa fa-lock fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>