
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand nav-link nav-item" routerLink='menu-prod'>Mon espace producteur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-fill w-100 ">
                    <a class="nav-item nav-link" routerLink='etal'> Mon étal</a>
                    <a class="nav-item nav-link" routerLink='prod-stats'>Mes commandes clients </a>
                    <a class="nav-item nav-link" routerLink='menu-prod'> Mes messages</a>
                    <a class="nav-item nav-link" routerLink='prod-profil'>Mon profil</a>
                    <a class="nav-item nav-link" routerLink='prod-stats'>Mes statistiques</a>
                    <a class="nav-item nav-link" routerLink='espace-contact'>Nous contacter</a>
                    <a class="nav-item nav-link"> <i class="fa fa-lock fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

