<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div *ngIf='authService.isConnected()'>
    <nav class="navbar navbar-expand-lg navbar-light toolbar-style">
      <div class="container-fluid">
        <div class="d-flex flex-row">
          <button mat-icon-button class="mr-5 menu-button" (click)='authService.toggleSidenav()'>
            <mat-icon style="font-size: 40px;  color: green;" >menu</mat-icon>
          </button>
  
  
        </div>
        <div><a class="navbar-brand margin-brand-img" (click)='authService.goHomeCons()'><img src="/assets/img/logo_sans_fond.png" height="80px" alt=""></a></div>
  
  
        <div class="d-flex flex-row-reverse" id="navbarNavAltMarkup">
          <a class="nav-item nav-link" (click)='authService.deconnexion()'>
            <mat-icon style="font-size: 40px; color: green;">exit_to_app</mat-icon>
          </a>
          <a class="nav-item nav-link mr-3">
            <mat-icon style="font-size: 40px; color: green;" (click)='authService.messagerie()'> chat_bubble</mat-icon>
          </a>
          <a class="nav-item nav-link mr-3">
            <mat-icon style="font-size: 40px; color: green;" (click)='authService.goPanier()'> shopping_cart</mat-icon>
          </a>
          <a class="nav-item nav-link mr-3">
            <mat-icon style="font-size: 40px; color: green;"> face</mat-icon>
          </a>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="">
    <mat-drawer-container class="drawer-container" hasBackdrop="true">
      <mat-drawer class="sidenav" [(opened)]='authService.opened' mode="over">
        <div class="container pt-3 myFont-title">
  
          <h1 class="myFont-head mb-5">Menu principal</h1>
          <div class="">
            <button mat-raised-button (click)='authService.goRechercheProd()' class="btn myFont-title">Rechercher des
              producteurs</button>
          </div>
      
          <div class="container">
            <button mat-raised-button (click)='authService.goRechercheProduit()' class="btn myFont-title">Rechercher des produits</button>
          </div>
          <div class="container">
            <button mat-raised-button (click)='authService.goModifCons()' class="btn myFont-title">Modifier le profil</button>
          </div>
          <div class="container">
            <button mat-raised-button (click)='authService.messagerie()' class="btn myFont-title">Messagerie</button>
          </div>
          <div class="container"> <a data-toggle="modal" data-target="#contacterAdmin" data-whatever="@mdo">
            <button mat-raised-button class="btn myFont-title">Nous contacter</button> </a>
          </div>
          <div class="container">
            <button mat-raised-button (click)='authService.deconnexion()' class="btn myFont-title">Deconnexion</button>
          </div>
        </div>
  
  
      </mat-drawer>
      <mat-drawer-content>
  
            <body>

                <div class="align-items-center bg-light rounded">
                    <div class="h4 font-weight-bold text-center py-3">
                        <p class="mt-120" style="color: rgb(51, 172, 3)">
                            <font size="7">Tous les produits</font>
                        </p>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <a (click)='redirectionFruitsMenu()'>
                                <div class="box bg-white">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center pale-orange">
                                            <img class="img" src="https://freepngimg.com/thumb/fruit/3-2-fruit-picture.png" alt="">
                                        </div>
                                        <div class="d-flex flex-column"> <b>Fruits</b>
                                            <p class="text-muted"></p>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <a (click)='redirectionLegumesMenu()'>
                                <div class="box bg-white">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan">
                                            <img class="img" src="https://freepngimg.com/thumb/vegetable/24646-6-vegetable-photos.png"
                                                alt="">
                                        </div>
                                        <div class="d-flex flex-column"> <b>Légumes</b>
                                            <p class="text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <a (click)='redirectionFromagesMenu()'>
                                <div class="box bg-white">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                                            <img class="img" src="https://freepngimg.com/thumb/cheese/17-cheese-png-image.png"
                                                alt="">
                                        </div>
                                        <div class="d-flex flex-column"> <b>Fromages</b>
                                            <p class="text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 my-lg-6 my-3">
                            <a (click)='redirectionVinsMenu()'>
                                <div class="box bg-white">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                            <img class="img" src="https://freepngimg.com/thumb/bottle/15-wine-glass-bottle-png.png"
                                                alt="">
                                        </div>
                                        <div class="d-flex flex-column"> <b>Vins</b>
                                            <p class="text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 my-lg-6 my-3">
                            <a (click)='redirectionBieresMenu()'>
                                <div class="box bg-white">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan">
                                            <img class="img" src="https://freepngimg.com/thumb/beer/8-beer-png-image.png" alt="">
                                        </div>
                                        <div class="d-flex flex-column"> <b>Bières</b>
                                            <p class="text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 my-lg-6 my-3">
                            <a (click)='redirectionAutresMenu()'>
                                <div class="box bg-white">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                                            <img class="img" src="https://freepngimg.com/thumb/shopping%20bag/12-paper-shopping-bag-png-image.png"
                                                alt="">
                                        </div>
                                        <div class="d-flex flex-column"> <b>Autres</b>
                                            <p class="text-muted"></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-5"></div>
                        <div Class="col-2 text-center">
                            <a (click)='retourMenuCons()'> <i style="color: rgb(51, 172, 3)"
                                    class="fa fa-rotate-left fa-4x"></i></a>
                        </div>
                        <div class="col-5"></div>

                    </div>
                </div>
            </body>




            <div class="modal" id="contacterAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">
                                <font size="5" style="color: green;">Nous contacter</font>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form #fMessageAdminCons="ngForm">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Objet :</label>
                                    <input type="text" class='form-control' ngModel required name="objet"
                                        placeholder="Objet" />
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Message :</label>
                                    <textarea class="form-control" ngModel required name="message" rows="5"
                                        placeholder="Votre message"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button (click)='this.authService.messageAdmin(fMessageAdminCons.value)'
                                        type="submit"
                                        class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
                                        data-dismiss="modal">Envoyer</button>
                                    <button type="button"
                                        class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
                                        data-dismiss="modal">Retour</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</div>