@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #f8f8f8
}

.container {
    margin-top: 20px;
    padding: 40px 20px
}

.box {
    padding: 40px 30px;
    transition: all .4s ease-in-out;
    cursor: pointer
}

.box:hover {
    box-shadow: 2px 2px 10px #a5a5a5;
    transform: scale(1.03)
    
}
.fa:hover{
    transform: scale(1.15)
}
a:hover {
    text-decoration: none
}

img {
    object-fit: contain;
    width: 35px;
    height: 35px
}

p.text-muted {
    margin: 0;
    font-size: 0.9rem
}

b {
    font-size: 1.12rem
}

.rounded-circle {
    width: 60px;
    height: 60px;
    background-color: red
}

.blue {
    background-color: #bedcfa;
    transform: rotateZ(90deg)
}

.pale-blue {
    background-color: #eff8ff
}

.pale-orange {
    background-color: #ffe5b9
}

.pale-purple {
    background-color: #e8e8e8
}

.pale-cyan {
    background-color: #cffffe
}

.pale-pink {
    background-color: #ffe4e4
}

.pale-pale {
    background-color: #f4eeff
}

.pale-green {
    background-color: #a0ffe6
}

.pale-pista {
    background-color: #dbf6e9
}

.mt-120{
    margin-top: 120px;
}

.btn-default
 
{
 
background-color: whitesmoke;
 
color:black;
 
border-color: #2F3E48;
 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
 
 
background-color: #18cf12;
 
color:#FFF;
 
border-color: #31347B;
}

.menu-button{
    border: none important!;
    background-color: inherit important!;
}
.margin-brand-img{
    margin-left: 170px important!;
  }

  .sidenav{
    background-color: rgb(221, 255, 96) important!;
    width: 400px important!;
    height: 100vh important!;
    
}
.toolbar-style{
    background-color: rgb(200, 255, 0) important!;
    height: 100px important!;
}

.sidenav-container {
    position: absolute important!;
    top: 0 important!;
    bottom: 0 important!;
    left: 0 important!;
    right: 0 important!;
  }

  .example-spacer {
    flex: 1 1 auto important!;
  }

.flip-horizontally {
    transform: scaleX(-1) important!;
  }

.myFont-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: rgb(40, 153, 40)
  }

.myFont-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: rgb(40, 153, 40);
  }

  .myFont-subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(40, 153, 40)
  }

  .myFont-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(40, 153, 40)
  }

  .example-events {
    width: 300px important!;
    height: 200px important!;
    overflow: auto important!;
    border: 1px solid #555 important!;
  }

  .icon-size-1{
    font-size: 50px important!;
}


.sidenav-btn {
    width: 60px important!;
    height: 60px important!;
}
.example-spacer {
    flex: 1 1 auto important!;
  }

.home-icon{
    font-size: 70px important!;
}

.above-banniere{
    padding-top: 15px important!;
    padding-left: 40px important!;
    width: 100vw important!;
}

