<div class="container">
    <h1 class="text-center">Liste des Producteurs</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6" *ngFor='let pro of producteur'>
            <mat-card class="example-card example-card:hover card-shadow mt-2" (click)='redirectionFicheProducteur()'>
                <div class="text-center">
                    <label class="text-center"><strong>{{pro.person.nom}} {{pro.person.prenom}}</strong></label>
                    <hr>
                </div>
                <mat-card-content>
                    <label class="col-sm-5"><strong>Nom du magasin : </strong></label>
                    <label class="col-sm-7">{{pro.nomMagasin}}</label>
                </mat-card-content>
            </mat-card>
        </div>
    </div>