<div class="container-fluid bg-light rounded"
    style="background-image: url('assets/img/background accueil2.jpg'); height: 100%">
    <div class="h4 font-weight-bold text-center py-3">
        <p class="mt-120" style="color: white">
            <font size="7">Mes bières</font>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div
                        class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center pale-orange">
                        <img src="https://www.plantes-et-sante.fr/images/istock-912404972.jpg_720_1000_2" alt="">
                    </div>
                    <div class="d-flex flex-column"> <b>Bières blanches</b>
                            <p class="text-muted"></p>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan"> <img
                            src="https://www.votrepanier.fr/upload-produits/choux-bruxelle.jpeg" alt=""> </div>
                    <div class="d-flex flex-column"> <b>Bières blondes</b>
                            <p class="text-muted"></p>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="https://cdn.pratico-pratiques.com/app/uploads/sites/4/2018/08/30152548/8-courge-a-decouvrir.jpeg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Bières ambrées ou rousse</b>
                            <p class="text-muted"></p>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple"> <img
                            src="https://image.migros.ch/product-zoom/559484334aa176ce47ca17a1576573f80664afe6/champignons-bruns.jpg"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Bières brunes</b>
                            <p class="text-muted">32 classes</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <a href="etal">
                <button type="button" class="btn btn-block btn-primary">
                    <font size="6" style="color: white">Retour</font>
                </button>
            </a>
        </div>
    </div>
</div>