<div class="container-fluid bg-light rounded">
    <div class="h4 font-weight-bold text-center py-3">Mon étal</div>
    <div class="row">
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center pale-orange">
                        <img src="https://freepngimg.com/thumb/fruit/3-2-fruit-picture.png" alt="">
                    </div>
                    <div class="d-flex flex-column"> <b>Fruits</b> <a class="nav-item nav-link" routerLink='prod-fruits'>
                            <p class="text-muted">23 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan"> <img
                            src="https://freepngimg.com/thumb/vegetable/24646-6-vegetable-photos.png" alt=""> </div>
                    <div class="d-flex flex-column"> <b>Légumes</b> <a routerLink="prod-legumes">
                            <p class="text-muted">5 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="https://freepngimg.com/thumb/cheese/17-cheese-png-image.png" alt=""> </div>
                    <div class="d-flex flex-column"> <b>Fromages</b> <a href="#">
                            <p class="text-muted">5 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple"> <img
                            src="https://freepngimg.com/thumb/bottle/15-wine-glass-bottle-png.png"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Vins</b> <a href="#">
                            <p class="text-muted">32 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan"> <img
                            src="https://freepngimg.com/thumb/beer/8-beer-png-image.png"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Bières</b> <a href="#">
                            <p class="text-muted">5 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink"> <img
                            src="https://freepngimg.com/thumb/shopping%20bag/12-paper-shopping-bag-png-image.png"
                            alt=""> </div>
                    <div class="d-flex flex-column"> <b>Autres</b> <a href="#">
                            <p class="text-muted">6 classes</p>
                        </a> </div>
                </div>
            </div>
        </div>

    </div>
</div>
