<div class="">
    <mat-drawer-container class="drawer-container general-background foo" hasBackdrop="true">
        <mat-drawer class="sidenav" #drawer mode="over">
            <div class="container pt-3 myFont-title">

                <h1 class="myFont-head">Menu principal</h1>
                <div class="container">
                    <button mat-raised-button class="btn btn-block">Rechercher des producteurs</button>
                </div>
                <div class="container">
                    <button mat-raised-button class="btn btn-block">Rechercher des produits</button>
                </div>
                <div class="container">
                    <button mat-raised-button class="btn btn-block">Modifier le profil</button>
                </div>
                <div class="container">
                    <button mat-raised-button class="btn btn-block">Messagerie</button>
                </div>
                <div class="container">
                    <button mat-raised-button class="btn btn-block">Nous contacter</button>
                </div>
                <div class="container">
                    <button mat-raised-button (click)='authService.deconnexion()'
                        class="btn btn-block">Deconnexion</button>
                </div>

                <!--
                              <mat-form-field appearance="fill">
          <mat-label>Has backdrop</mat-label>
          <mat-select #hasBackdrop>
            <mat-option>Unset</mat-option>
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
            </mat-form-field>
          </mat-select>
    -->
                <!-- AJOUTER LE CONTENU DE LA SIDEBAR ICI, EXEMPLE DE MENU DEROULANT AU DESSUS-->


            </div>


        </mat-drawer>
        <mat-drawer-content>

            <div class="col-sm-2">
                <div>
                    <mat-card class="sans-fond">
                        <mat-card-header></mat-card-header>
                        <img class="container mt-3" mat-card-image src="/assets/img/logo_sans_fond.png" alt="Etale">
                        <mat-card-content></mat-card-content>
                    </mat-card>
                </div>
                <div class="above-banniere">
                    <button mat-raised-button (click)="drawer.toggle()" class="sidenav-btn">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </div>
            <div class="custom-margin-left row d-flex justify-content-around">
                <div class="container-fluid col-sm-4 my-pad-bot">
                    <mat-card class="example-card" (click)='boiteReception()'>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Boîte de Réception</mat-card-title>
                        </mat-card-header>
                        <img class="container mt-3" mat-card-image src="/assets/img/mailbox.jpg" alt="Etale">
                        <mat-card-content>
                            <p class="align-middle">
                                Consultez vos messages actuels
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="container-fluid col-sm-4 my-pad-bot">
                    <mat-card class="example-card" (click)='boiteEnvoi()'>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Boîte d'envoi</mat-card-title>
                        </mat-card-header>
                        <img class="container mt-3" mat-card-image src="/assets/img/ink_pen.jpg" alt="produits">
                        <mat-card-content>
                            <p class="align-text-middle">
                                Consultez l'historique de vos messages envoyés
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="container-fluid col-sm-4 my-pad-bot">
                    <mat-card class="example-card" (click)='authService.goBack()'>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Retour</mat-card-title>
                        </mat-card-header>
                        <img class="container mt-3" mat-card-image src="/assets/img/deconnexion.png" alt="Etale">
                        <mat-card-content>
                            <p class="align-text-middle">
                                Revenir au Menu Principal
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>



            <!---->

        </mat-drawer-content>
    </mat-drawer-container>

</div>