<div class="container" style="width: 1200px;">
    <h1 class="text-center container myFont-head"><b>Historique des commandes</b> </h1>
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr class="myFont-text">
                <td>Client</td>
                <td>Contenu</td>
            </tr>
            <tr *ngFor="let c of listCommandes">
                
                <td style="width:20%">{{c.consom.person.prenom + ' ' + c.consom.person.nom}}</td>
                <td style="width:80%">
                    <div *ngFor="let p of c.contenuCommande">
                        <p><b>{{p.description}}</b></p>
                        <p>{{'Date de la commande : ' + c.date}}</p>
                        <p>{{'Quantité : ' + p.quantiteCons + '\t \t Prix : ' + p.prix * p.quantiteCons  + ' €'}}</p>
                    </div>
                
                
            </tr>
        </tbody>
    </table>
</div>