<div class="bg-image" style="
    background-image: url('assets/img/banniere.jpg');
    height: 150px;
  " alt=""></div>
<body class="backcolor">
    <div class="container-fluid bg-light rounded">
        <div class="h4 font-weight-bold text-center py-3">Mon espace producteur</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 my-lg-0 my-3 ">
                <div class="box bg-white nav-link">
                    <div class="d-flex align-items-center">
                        <div
                            class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue">
                            <img src="https://freepngimg.com/thumb/fruit/4-2-fruit-png-image.png" alt="">
                        </div>
                        <a routerLink="etal">
                            <div class="d-flex flex-column"> <b>Mon étal</b>
                                <p class="text-muted"></p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                            <img src="https://freepngimg.com/thumb/shopping%20bag/12-paper-shopping-bag-png-image.png"
                                alt=""> </div>
                        <div class="d-flex flex-column"> <b>Mes commandes clients</b> <a href="#">
                                <p class="text-muted"></p>
                            </a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                            <img src="https://freepngimg.com/thumb/email_marketing/5-2-email-png-thumb.png" alt="">
                        </div>
                        <div class="d-flex flex-column"> <b>Mes messages</b> <a href="#">
                                <p class="text-muted"></p>
                            </a> </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                            <img src="https://freepngimg.com/thumb/youtube/62644-profile-account-google-icons-computer-user-iconfinder.png"
                                alt=""> </div>
                        <div class="d-flex flex-column"> <b>Mon profil</b> <a href="#">
                                <p class="text-muted"></p>
                            </a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-cyan">
                            <img src="https://www.exceedconsulting.co.uk/wp-content/uploads/2019/03/Asset-2-01.png"
                                alt=""> </div>
                        <div class="d-flex flex-column"> <b>Mes statistiques</b> <a href="#">
                                <p class="text-muted"></p>
                            </a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                            <img src="https://freepngimg.com/thumb/google/66809-google-docs-drive-plus-android-document-thumb.png"
                                alt=""> </div>
                        <div class="d-flex flex-column"> <b>Nous contacter</b> <a href="#">
                                <p class="text-muted"></p>
                            </a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                            <img src="https://cdn4.iconfinder.com/data/icons/vectory-symbols/40/help_1-512.png" alt="">
                        </div>
                        <div class="d-flex flex-column"> <b>Nous signaler un problème</b> <a href="#">
                                <p class="text-muted"></p>
                            </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>