<span><span></span></span>
<div>
  <p class="text-selection text-center"> {{ Selection }} </p>
</div>
<div class="wrap">
  <a (mouseover)='Text("Mon étal")' (click)='redirectionEtal()' (mouseout)='Text("")'>
    <div></div>
  </a>
  <a (mouseover)='Text("Mes commandes")' (mouseout)='Text("")'>
    <div></div>
  </a>
  <a (mouseover)='Text("Ma messagerie")' (click)='authService.goMessagerie()' (mouseout)='Text("")'>
    <div></div>
  </a>
  <a (mouseover)='Text("Nous contacter")' data-toggle="modal" data-target="#contacterAdminMenu" (mouseout)='Text("")'>
    <div></div>
  </a>
  <a (mouseover)='Text("Mon mur")' (mouseout)='Text("")'
    (click)='authService.redirectionFicheProducteur(pro)'>
    <div></div>
  </a>
</div>



<div class="modal" id="contacterAdminMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><font size="5" style="color: green;">Nous contacter</font></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #fMessageAdminCons="ngForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Objet :</label>
            <input type="text" class='form-control' ngModel required name="objet" placeholder="Objet"/>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Message :</label>
            <textarea class="form-control" ngModel required name="message" rows="5" placeholder="Votre message"></textarea>
          </div>
          <div class="modal-footer">
            <button (click)='this.authService.messageAdmin(fMessageAdminCons.value)' type="submit"
              class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
              data-dismiss="modal">Envoyer</button>
            <button type="button" class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
              data-dismiss="modal">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

