

<span><span></span></span>
<div>
  <p class="text-selection text-center"> {{ Selection }} </p>
</div>
<div class="wrap">
  <a (mouseover)='Text("Rechercher des producteurs")' (mouseout)='Text("")' href="#">
    <div></div>
  </a>
  <a (mouseover)='Text("Acceder à la messagerie")' (mouseout)='Text("")' href="#">
    <div></div>
  </a>
  <a (mouseover)='Text("Modifier mon profil")' (mouseout)='Text("")' href="#">
    <div></div>
  </a>
  <a (mouseover)='Text("Nous contacter")' (mouseout)='Text("")' href="#">
    <div></div>
  </a>
  <a (mouseover)='Text("Rechercher des produits")' (mouseout)='Text("")' href="#">
    <div></div>
  </a>
</div>