.text-selection{
  padding-top: 50px;
  font-size: 70px;
  font-family: AmaticSC-Regular;
  font-style: italic;
  src: url('/assets/font/AmaticSC-Regular.ttf') format("truetype");
  color: rgb(165, 192, 138);
  
}



a{
  position:absolute;
  left:0; top:0;
  width:47.5%; height:47.5%;
  overflow:hidden;
  transform:scale(.7) translateZ(0px);
  background:#585247;
}
a div{
  height:100%;
  background-size:cover;
  opacity:.5;
  transition:opacity .5s;
  border-radius:inherit;
}
a:nth-child(1){
  border-radius:40vmin 0 0 0;
  transform-origin: 110% 102%;
  transition:transform .4s .15s;
}
a:nth-child(1) div{
  background-image:url('/assets/img/producteur.png');
}
a:nth-child(2){
  border-radius:0 40vmin 0 0;
  left:52.5%;
  transform-origin: -10% 102%;
  transition:transform .4s .2s;
}
a:nth-child(2) div{
  background-image:url('/assets/img/messages.jpg');
}
a:nth-child(3){
  border-radius:0 0 0 40vmin;
  top:52.5%;
  transform-origin: 110% -2%;
  transition:transform .4s .25s;
}
a:nth-child(3) div{
  background-image:url('/assets/img/utilisateur.png');
}
a:nth-child(4){
  border-radius:0 0 40vmin 0;
  top:52.5%; left:52.5%;
  transform-origin: -10% -2%;
  transition:transform .4s .3s;
}
a:nth-child(4) div{
  background-image: url('/assets/img/contact.jpg');
}
a:nth-child(5){
  width:55%;height:55%;
  left:22.5%; top:22.5%;
  border-radius:50vmin;
  box-shadow:0 0 0 5vmin #E3DFD2;
  transform:scale(0.65);
}
a:nth-child(5) div{
  background-image: url('/assets/img/pannier_legumes.jpg');
}


a:hover div{
  opacity:1;
  transform:translatez(0px);
}
/*
.example-card {
    max-width: 400px;
    height: 500px;
  }

  .example-card:hover, .example-card:focus, .example-card:active {
    max-width: 400px;
    height: 500px;
    background-color: red;
  }
  
  .example-header-image {
    background-image: url('https://www.liege.be/fr/vie-communale/services-communaux/commerce/foires-et-marches/marches/images/court-circuit-logo-web.jpg/@@images/image.jpeg');
    background-size: cover;
  }

  .custom-margin-left{
    margin-left: 10%;
  }

  .my-pad-bot{
    padding-bottom: 50px;
  }

  .sans-fond{
    max-width: 200px;
    max-height: 200px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
  }
  */