<div class="">
    <!-- Background image -->
    <div class="bg-image" style="
    background-image: url('assets/img/banniere.jpg');
    height: 150px;
  ">
    </div>

    <div class="row pt-5">
        <div class="col-sm-3 text-center">
            <img src="assets/img/vigne.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-6 container pt-5">
            <!--(ngSubmit)='connexion(fConnect.value)'-->
            <h1 class="text-center container myFont-head"><b>Bienvenue sur court-circuit !</b> </h1>
            <br><br><br>
            <form (ngSubmit)="connexion(connexionForm.value)" #connexionForm="ngForm">
                <div style="margin: auto; width: 60%">
                    <div class="form-group">
                        <label class="label-perso">Login : </label>
                        <input type="text" class="form-control" ngModel required name="login" #login="ngModel" />
                    </div>
                    <div class="form-group">
                        <label class="label-perso">Password : </label>
                        <input type="password" class="form-control" ngModel required name="mdp" #mdp="ngModel" />
                    </div>
                    <button type="submit" class="btn btn-block myFont-title">connexion</button>
                    <br><br>
                    <p class="text-danger text-center"> {{ MsgErr }} </p>
                    <br><br>
                    <h1 class="text-center myFont-head"><b>Pas encore membre ?</b> </h1>
                    <br><br><br>
                    <div class="row">

                        <div class="container">
                            <button type="button" onclick="window.location.href='inscription'"
                                class="btn btn-block myFont-title">Je suis consommateur !</button>
                        </div>
                        <div class="container">
                            <button type="button" onclick="window.location.href='inscription'"
                                class="btn btn-block myFont-title">Je suis producteur !</button>
                        </div>

                    </div>

                    <div>
                        <p class="text-danger text-center">
                            <!--{{ authService.MsgErr }}-->
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <img src="assets/img/vigne.png" class="img-fluid flip-horizontally" alt="" height="500">

        </div>
    </div>
</div>