<div *ngIf='authService.isConnected()'>
  <nav class="navbar navbar-expand-lg navbar-light toolbar-style">
    <div class="container-fluid">
      <div class="d-flex flex-row">
        <button mat-icon-button class="mr-5 menu-button" (click)='authService.toggleSidenav()'>
          <mat-icon style="font-size: 40px;  color: green;" >menu</mat-icon>
        </button>


      </div>
      <div><a class="navbar-brand margin-brand-img" (click)='authService.goHomeCons()'><img src="/assets/img/logo_sans_fond.png" height="80px" alt=""></a></div>


      <div class="d-flex flex-row-reverse" id="navbarNavAltMarkup">
        <a class="nav-item nav-link" (click)='authService.deconnexion()'>
          <mat-icon style="font-size: 40px; color: green;">exit_to_app</mat-icon>
        </a>
        <a class="nav-item nav-link mr-3">
          <mat-icon style="font-size: 40px; color: green;" (click)='authService.goMessagerieCons()'> chat_bubble</mat-icon>
        </a>
        <a class="nav-item nav-link mr-3">
          <mat-icon style="font-size: 40px; color: green;" (click)='authService.goPanier()'> shopping_cart</mat-icon>
        </a>
        <a class="nav-item nav-link mr-3">
          <mat-icon style="font-size: 40px; color: green;"> face</mat-icon>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="">
  <mat-drawer-container class="drawer-container" hasBackdrop="true">
    <mat-drawer class="sidenav" [(opened)]='authService.opened' mode="over">
      <div class="container pt-3 myFont-title">

        <h1 class="myFont-head mb-5">Menu principal</h1>
        <div class="">
          <button mat-raised-button (click)='authService.goRechercheProd()' class="btn myFont-title">Rechercher des
            producteurs</button>
        </div>
    
        <div class="container">
          <button mat-raised-button (click)='authService.goRechercheProduit()' class="btn myFont-title">Rechercher des produits</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)='authService.goModifCons()' class="btn myFont-title">Modifier le profil</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)='authService.goMessagerieCons()' class="btn myFont-title">Messagerie</button>
        </div>
        <div class="container"> <a data-toggle="modal" data-target="#contacterAdmin" data-whatever="@mdo">
          <button mat-raised-button class="btn myFont-title">Nous contacter</button> </a>
        </div>
        <div class="container">
          <button mat-raised-button (click)='authService.deconnexion()' class="btn myFont-title">Deconnexion</button>
        </div>
      </div>


    </mat-drawer>
    <mat-drawer-content>


<span><span></span></span>
<div>
  <p class="text-selection text-center"> {{ Selection }} </p>
</div>
<div class="wrap">
  <a class="a a1" (mouseover)='Text("Rechercher des producteurs")' (click)='authService.goRechercheProd()' (mouseout)='Text("")'>
    <div class="div div1"></div>
  </a>
  <a class="a a2" (mouseover)='Text("Acceder à la messagerie")' (click)='authService.goMessagerieCons()' (mouseout)='Text("")'>
    <div class="div div2"></div>
  </a>
  <a class="a a3" (mouseover)='Text("Modifier mon profil")' (click)='goModifCons()' (mouseout)='Text("")'>
    <div class="div div3"></div>
  </a>
  <a class="a a4" (mouseover)='Text("Nous contacter")' data-toggle="modal" data-target="#contacterAdminMenuCons" (mouseout)='Text("")'>
    <div class="div div4"></div>
  </a>
  <a class="a a5" (mouseover)='Text("Rechercher des produits")' (mouseout)='Text("")' (click)='redirectionChercherProduit()'>
    <div class="div div5"></div>
  </a>
</div>

<!--
<div class="modal" id="contacterAdminMenuCons" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><font size="5" style="color: green;">Nous contacter</font></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #fMessageAdminCons="ngForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Objet :</label>
            <input type="text" class='form-control' ngModel required name="objet" placeholder="Objet"/>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Message :</label>
            <textarea class="form-control" ngModel required name="message" rows="5" placeholder="Votre message"></textarea>
          </div>
          <div class="modal-footer">
            <button (click)='this.authService.messageAdmin(fMessageAdminCons.value)' type="submit"
              class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
              data-dismiss="modal">Envoyer</button>
            <button type="button" class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
              data-dismiss="modal">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->

</mat-drawer-content>
</mat-drawer-container>

</div>











<!--
<div class="bg-image" style="
background-image: url('assets/img/banniere.jpg');
height: 150px;
">

<div class="above-banniere">


<div class="">
  <mat-drawer-container class="drawer-container general-background foo" hasBackdrop="true">
    <mat-drawer class="sidenav" #drawer mode="over">
      <div class="container pt-3 myFont-title">

        <h1 class="myFont-head">Menu principal</h1>
        <div class="container">
          <button mat-raised-button (clic)='authService.goRechercheProd()' class="btn btn-block">Rechercher des
            producteurs</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Rechercher des produits</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Modifier le profil</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Messagerie</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Nous contacter</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)='authService.deconnexion()' class="btn btn-block">Deconnexion</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)="adress.updateCoordinates(59)" class="btn btn-block">test</button>
        </div>

        <h1 class="myFont-head">Menu principal</h1>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Rechercher des producteurs</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Rechercher des produits</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Modifier le profil</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Messagerie</button>
        </div>
        <div class="container">
          <button mat-raised-button class="btn btn-block">Nous contacter</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)='authService.deconnexion()' class="btn btn-block">Deconnexion</button>
        </div>
        <div class="container">
          <button mat-raised-button (click)="getAdress()" class="btn btn-block">test</button>
        </div>


                          <mat-form-field appearance="fill">
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
        </mat-form-field>
      </mat-select>


      </div>


    </mat-drawer>
    <mat-drawer-content>

      <div class="col-sm-2">
        <div>
          <mat-card class="sans-fond" (click)="authService.goHomeCons()">
            <mat-card-header></mat-card-header>
            <img class="container mt-3" mat-card-image src="/assets/img/logo_sans_fond.png" alt="Etale">
            <mat-card-content></mat-card-content>
          </mat-card>
        </div>
        <div class="above-banniere">
          <button mat-raised-button (click)="drawer.toggle()" class="sidenav-btn">
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
      <div class="custom-margin-left row d-flex justify-content-around">
        <div class="container-fluid col-sm-4 my-pad-bot">
          <mat-card class="example-card example-card:hover" (click)="authService.goRechercheProd()">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Rechercher des producteurs</mat-card-title>
            </mat-card-header>
            <img class="container mt-3" mat-card-image src="/assets/img/producteur.png" alt="Etale">
            <mat-card-content>
              <p class="align-middle">
                Recherchez des producteurs proches de chez vous !
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="container-fluid col-sm-4 my-pad-bot">
          <mat-card class="example-card" (click)="doStuff()">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Rechercher des produits</mat-card-title>
            </mat-card-header>
            <img class="container mt-3" mat-card-image src="/assets/img/produits.jpg" alt="produits">
            <mat-card-content>
              <p class="align-text-middle">
                Recherchez des produits locaux !
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="container-fluid col-sm-4 my-pad-bot">
          <mat-card class="example-card" (click)="doStuff()">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Modifier mon profil</mat-card-title>
            </mat-card-header>
            <img class="container mt-3" mat-card-image src="/assets/img/utilisateur.png" alt="Etale">
            <mat-card-content>
              <p class="align-text-middle">
                Modifiez votre profil
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="container-fluid col-sm-4 my-pad-bot">
          <mat-card class="example-card" (click)='authService.messagerie()'>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Messagerie</mat-card-title>
            </mat-card-header>
            <img class="container mt-3" mat-card-image src="/assets/img/messagerie.jpg" alt="Etale">
            <mat-card-content>
              <p class="align-text-middle">
                Accedez à votre messagerie
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="container-fluid col-sm-4 my-pad-bot">
          <a data-toggle="modal" data-target="#contacterAdmin" data-whatever="@mdo">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Nous contacter</mat-card-title>
            </mat-card-header>
            <img class="container mt-3" mat-card-image src="/assets/img/contact.png" alt="Etale">
            <mat-card-content>
              <p class="align-text-middle">
                Cet outil est le votre, vos remarques sont précieuses
              </p>
            </mat-card-content>
          </mat-card></a>
        </div>

        <div class="container-fluid col-sm-4 my-pad-bot">
            <mat-card class="example-card" (click)='authService.messagerie()'>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Messagerie</mat-card-title>
                </mat-card-header>
                <img class="container mt-3" mat-card-image src="/assets/img/messagerie.jpg" alt="Etale">
                <mat-card-content>
                  <p class="align-text-middle">
                    Accedez à votre messagerie  
                  </p>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="container-fluid col-sm-4 my-pad-bot">
              <mat-card class="example-card" (click)="doStuff()">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nous contacter</mat-card-title>
                  </mat-card-header>
                  <img class="container mt-3" mat-card-image src="/assets/img/contact.png" alt="Etale">
                  <mat-card-content>
                    <p class="align-text-middle">
                      Cet outil est le votre, vos remarques sont précieuses 
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>

            <div class="container-fluid col-sm-4 my-pad-bot">
                <mat-card class="example-card" (click)='authService.deconnexion()'>
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Déconnexion</mat-card-title>
                    </mat-card-header>
                    <img class="container mt-3" mat-card-image src="/assets/img/deconnexion.png" alt="Etale">
                    <mat-card-content>
                      <p class="align-text-middle">
                        On se retrouve très vite !  
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>


        


  </mat-drawer-content>
</mat-drawer-container>
<div class="modal" id="contacterAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><font size="5" style="color: green;">Nous contacter</font></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #fMessageAdminCons="ngForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Objet :</label>
            <input type="text" class='form-control' ngModel required name="objet" placeholder="Objet"/>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Message :</label>
            <textarea class="form-control" ngModel required name="message" rows="5" placeholder="Votre message"></textarea>
          </div>
          <div class="modal-footer">
            <button (click)='this.authService.messageAdmin(fMessageAdminCons.value)' type="submit"
              class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
              data-dismiss="modal">Envoyer</button>
            <button type="button" class="btn btn-default btn-default:hover btn-secondary btn-block text-center"
              data-dismiss="modal">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
-->