<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-6 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" style="
                    background-image: url('assets/img/étal_magasin_fromages.jpg');
                    ">
                <div class="card col-sm-2">
                    <img alt="" src="assets/img/tete.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center container">
    <h2>{{producteur.person.prenom}} {{producteur.person.nom}}</h2>
    <h4><i>Producteur de fromages depuis 1978</i></h4>
    <hr>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4" >
            <div class="card card-shadow">
                <div class="card-header  text-center"><strong>Mes Infos</strong></div>
                <div class="card-body">
                    <div class="mr-2" >
                        <br>
                        <p><strong>Nom : </strong>{{producteur.person.nom}}</p>
                        <p><strong>Prenom : </strong>{{producteur.person.prenom}}</p>
                        <p><strong>Magasin : </strong>{{producteur.nomMagasin}}</p>
                        <p><strong>Adresse : </strong>{{producteur.person.adresse.numeroRue}} {{producteur.person.adresse.nomRue}}</p>
                    </div>
                </div>
                <hr>
                <button class="btn btn-block btn-secondary">Modifier mon profil</button>
            </div>
            <br>
            <div class="card card-shadow text-center">
                <div class="card-header"><strong>Mes Photos</strong></div>
                <div class="card-body container row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <img src="assets/img/camembert.jpg" alt="" width="100%">
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/img/étal_magasin_fromages.jpg" alt="" width="100%">
                    </div>

                </div>
                <br>
            </div>
            <br>
            <div class="card card-shadow text-center">
                <div class="card-header"><strong>Mes Abonnés</strong></div>
                <div class="card-body"></div>
                <div class="cantainer row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <img src="assets/img/tete.jpg" alt="tete" width="100%">
                        <label>Tete</label>
                    </div>

                </div>
                <br>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-1"></div>
            <div class="row">
                <button class="ml-4 btn btn-block btn-outline-secondary col-sm-5">Affichage des publications</button>
                <div class="col-sm-1"></div>
                <button class="mr-4 btn btn-block btn-outline-secondary col-sm-5">Affichage des produits</button>
            </div>
            <div class="card card-shadow">
                <div class="card-header text-center">
                    <label><strong>Publications</strong></label>
                </div>
                <div class="card-body text-center row">
                    <i class="fa fa-plus-circle fa-2x col-sm-2 mt-1"></i>
                    <button class="btn btn-block btn-secondary col-sm-4">Nouvelle Publication</button>
                </div>
                <hr>
            </div>
            <br>
            <div class="card card-shadow">
                <div class="card-header">
                    <label class="col-sm-8 text-center"><strong>Le Produit du mois</strong></label>
                    <button class="btn btn-outline-secondary col-sm-4">Ajouter/Modifier</button>
                </div>
                <div class="card-body text-center">
                    <img alt="" src="assets/img/camembert.jpg" width="50%">
                    <br>
                    <label>Camembert de Normandie AOP</label>
                </div>
            </div>
            <br>
            <div class="card card-shadow">
                <div class="card-header text-center">
                    <label><strong>Liste des produits</strong></label>
                </div>
                <div class="card">
                    <div class="card-body row" *ngFor='let p of produit'>
                        <div class="col-sm-5 mt-3">
                            <img alt="" src="assets/img/camembert.jpg" width="100%">
                            <br>
                        </div>
                        <div class="card col-sm-7" >
                            <div class="card-header text-center">
                                <label>{{p.nom}}</label>
                            </div>
                            <div class="card-body">
                                <p><strong>Description : </strong>{{p.description}}</p>
                                <p><strong>Catégorie : </strong> {{p.sousCategorie.nom}}</p>
                                <p><strong>Quantité disponible : </strong>{{p.quantite}}</p>
                                <p><strong>Prix : </strong> {{p.prix}} €</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <br><br><br>
</div>