/* You can add global styles to this file, and also import other style files */

.mt-80{
    margin-top: 80px;
}

/* old style*/

.icon-size-1{
    font-size: 50px;
}


.sidenav-btn {
    width: 60px;
    height: 60px;
}

.home-icon{
    font-size: 70px;
}

.above-banniere{
    padding-top: 15px;
    padding-left: 40px;
    width: 100vw;
}

.sidenav{
    background-color: rgb(203, 255, 203);
    width: 400px;
}


.drawer-content{
    width: 100vw;
}

.drawer-container {
    width: 100vw;
    height: max-content;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

.example-spacer {
    flex: 1 1 auto;
  }

.flip-horizontally {
    transform: scaleX(-1);
  }

.myFont-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: rgb(40, 153, 40)
  }

.myFont-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: rgb(40, 153, 40);
  }

  .myFont-subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: rgb(40, 153, 40)
  }

  .myFont-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(40, 153, 40)
  }


.titre-perso{
    color: rgb(40, 153, 40)
}

.center{
    text-align: center;
}

.my-font-family{
    font-family: 'Noto Serif';
}

.mt-120{
    margin-top: 120px;
}
.mt-60{
    margin-top: 60px;
}

.zone-saisie{
    width: 20%;
    padding: 10px;
    font-size: large;
}

.zone-group{
    padding: 4px;
}

.bt-perso{
    background-color: slateblue;
    color: white;
    font-size: large;
    padding: 6px;
    border-color: aliceblue;
    border-radius: 5px;
}
.bt-perso:hover {
    background-color: rgb(35, 139, 44);
}

.color-red{
    color: red;
}

.label-perso{
    font-family: 'Noto Serif';
    color: rgb(124, 124, 124);
}

.card-shadow {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.30) !important;
}

.ml-50{
    margin-left: 10px;
}

.route-active{
    color: green !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40;
}

.mt-60 {
    margin-top: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.strokeme
{
    color: rgb(22, 163, 22);
    text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/* Styles côtés producteur */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #f8f8f8
}


.box {
    padding: 40px 30px;
    transition: all .4s ease-in-out;
    cursor: pointer
}

.box:hover {
    box-shadow: 2px 2px 10px #a5a5a5;
    transform: scale(1.03)
}

a:hover {
    text-decoration: none
}



p.text-muted {
    margin: 0;
    font-size: 0.9rem
}

b {
    font-size: 1.12rem
}

.rounded-circle {
    width: 60px;
    height: 60px;
    background-color: red
}

.blue {
    background-color: #bedcfa;
    transform: rotateZ(90deg)
}

.pale-blue {
    background-color: #eff8ff
}

.pale-orange {
    background-color: #ffe5b9
}

.pale-purple {
    background-color: #e8e8e8
}

.pale-cyan {
    background-color: #cffffe
}

.pale-pink {
    background-color: #ffe4e4
}

.pale-pale {
    background-color: #f4eeff
}

.pale-green {
    background-color: #a0ffe6
}

.pale-pista {
    background-color: #dbf6e9
}

.mt-120{
    margin-top: 120px;
}